p {
    text-align: justify;
}
#profile-img img {
    margin-top: 20px;
    width: 150px;
    border-radius: 100%;
}
#profile-img img:hover {
    filter: drop-shadow(5px 5px 18px #ccc);
    cursor: pointer;
}
#profile-background {
    margin-top: 0;
    width: 100%;
    height: 400%;
}
#profile-status {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    text-shadow: 2px 2px 2px #000000;
}
#profile-projects img {
    width: 80px;
}
#profile-education img, #profile-courses img {
    padding: 15px;
    width: 120px;
    filter: drop-shadow(1px 1px 5px #ccc);
    border-radius: 100%;
}

/* Materialize */
.parallax-container {
    height: 220px !important;
    margin-left: -1px !important;
}
/* Parallax */
@media only screen and (max-width: 600px) {
    #profile-background {
        width: 100%;
        height: 100%;
    }
}