html {
    scroll-behavior: smooth;
}
p {
    text-align: justify;
}
nav {
    z-index: 999;
}
#profile-img img {
    margin-top: 20px;
    width: 150px;
    border-radius: 100%;
}
#profile-img img:hover {
    filter: drop-shadow(5px 5px 18px #ccc);
    cursor: pointer;
}
#profile-background {
    margin-top: 0;
    width: 100%;
    height: 400%;
}
#profile-status {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #ffffff;
    min-width: 150px;
    text-shadow: 2px 2px 2px #000000;
}
#profile-projects img {
    width: 100px;
}
#profile-education img, #profile-courses img {
    padding: 15px;
    width: 140px;
    height: 140px;
    filter: drop-shadow(1px 1px 5px #ccc);
    border-radius: 100%;
}
.sticky {
    position: fixed;
    top: 0;
}
.anchor {
    padding-top: 40px;
    margin-top: -40px;
    display: inline-block;
}
.logo-container {
    min-width: 120px;
}
/* Materialize */
.parallax-container {
    height: 220px !important;
    margin-left: -1px !important;
}
/* Parallax */
@media only screen and (max-width: 600px) {
    #profile-background {
        width: 100%;
        height: 100%;
        transform: translate3d(-50%, 0px, 0px) !important;
    }
}